*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: url('../img/header-back.jpg') no-repeat center top/cover;
    min-height: 600px;
}

@mixin title($c, $ft, $fs) {
    color: $c;
    font-family: $ft;
    font-size: $fs;
}

.menu {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
}
.header__menu-logo{
    .menu-logo{
        @include title(#f1cdb3, serif, 25px);
    }
    div{
        color: #fff;
        font-size: 14px;
    }
}
.menu-list{
    display: flex;
    .menu__list-item{
        list-style: none;
        margin-right: 39px;
        a{
        color: #cdcdcd;
        font-size: 16px;
        text-decoration: none;
            &:hover{
                color: #f5f5f5;
                border-bottom: 3px solid #f1cdb3;
            }
        }
    }
}

.header__info {
    margin-top: 157px;
}
.header__content {
    max-width: 470px;
}
.header__content-title {
    @include title(#fff, serif, 30px);
    margin-bottom: 30px;
}
.header__content-description {
    color: #cdcdcd;
    margin-bottom: 45px;
}
.header__content-btn {
    padding: 19px 44px;
    background-color: #f1cdb3;
    border-radius: 30px;
    display: inline;
    a{
        text-decoration: none;
        color: #292929;
        font-size: 16px;
    }
    &:hover{
        background-color: #fddcc4;
    }
}

.about {
    display: flex;
    justify-content: center;
    min-height: 500px;
    align-items: center;
}
.about__info-img{
    max-width: 415px;
    margin-right: 115px;
}
.about__content{
    max-width: 315px;
}
.about__content-title{
    @include title(#545454, serif, 34px);
    margin-bottom: 25px;
}
.about__content-description, p{
    color: #5d5d5d;
}


.pets{
    background-color: #f6f6f6;
}
.pets-wrapper{
    max-width: 980px;
    margin-left: 120px;
}

.pets-title{
    @include title(#545454, serif, 35px);
    text-align: center;
    padding-top: 80px;
    margin-bottom: 66px;
}

.pets-slider__info{
    max-width: 270px;
    margin-bottom: 100px;
    margin-right: 50px;
    background-color: #fafafa;
    border-radius: 10px;
    outline: none; 
    .pets-slider__img{
        border-radius: 10px;
    }
    .pets-slider__title{
        @include title(#545454, serif, 20px);
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;

    }

    .pets-slider__btn{
        display: flex;
        justify-content: center;
        padding-bottom: 20px; 
        button{
            @include title(#545454, serif, 16px);
            padding: 15px 40px;
            border: 2px solid #f1cdb3;
            border-radius: 40px;
            background-color: #fafafa;
            outline: none;
            &:hover{
                background-color: #f1cdb3;
            }
        }
    }
}

.pets-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    button{
        @include title(#545454, serif, 22px);
        padding: 15px 50px;
        border-radius: 40px;
        background-color: #f1cdb3;
        outline: none;
        border: none;
        &:hover{
            background-color: #fddcc4;
        } 
    }
    
}


.help__content-title{
    @include title(#545454, serif, 30px);
    margin-top: 70px;
    margin-bottom: 80px;
    text-align: center;
}
.help__content-directions-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-left: 100px;
    .help__content-directions-item{
        margin-right: 114px;
        margin-bottom: 60px;
        text-align: center;
        .help__content-directions-item-title{
            @include title(#545454, serif, 16px);
        }
    }
}

.donation{
    background-color: #f6f6f6;
}

.donation__content{
    display: flex;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 85px;
    .donation__content-img{
        margin-right: 65px;
    }
}


.donation__content-card{
    max-width: 400px;
    .donation__content-card-title{
        @include title(#545454, serif, 30px); 
        margin-bottom: 20px;
    }
    .donation__content-card-description{
        @include title(#545454, serif, 14px);
        margin-bottom: 5px;
    }
}


.donation__content-card-number{
    display: flex;
    justify-content: center;
    background-color: #f1cdb3;
    max-width: 220px;
    min-height: 50px;
    align-items: center;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    img{
        margin-right: 10px;
    }
    .donation__content-card-numeral{
        @include title(#292929, serif, 14px);
    }
}

footer{
    background: url('../img/footer-back.jpg') no-repeat center top/cover;
    min-height: 300px;
}

.contacts{
    display: flex;
    padding-top: 50px;
}

.contacts__email{
    margin-right: 170px;
}

.contacts__email-title{
    @include title(#fff, serif, 24px);
    margin-bottom: 20px;
}

%footerAddress{
    display: flex;
    min-height: 50px;
    align-items: center;
}

.email{
    @extend %footerAddress;
    margin-bottom: 10px;
    img{
        margin-right: 15px;
    }
    .email__address{
        @include title(#f1cdb3, serif, 14px);
    }
}

.number{
    @extend %footerAddress;
    margin-bottom: 20px;
    img{
        margin-right: 15px;
    }
    .number__numeral{
        @include title(#f1cdb3, serif, 14px);
    }
}

.contacts__address-title{
    @include title(#fff, serif, 24px);
    margin-bottom: 20px;
}
.address{
    @extend %footerAddress;
    margin-bottom: 20px;
    img{
        margin-right: 15px;
    }
    .address__info{
        @include title(#f1cdb3, serif, 14px);
    }
}

@media (max-width: 1240px){
    footer{
        background: url('../img/header-back_mobile.jpg') no-repeat center top/cover;
    }
    .contacts{
        justify-content: center;
        flex-wrap: wrap;
    }
    .contacts__email{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
}

@media (max-width: 810px){
    .contacts{
        margin: 0;
    }
}

@media (max-width: 1238px){
    .container{
        max-width: 1000px;
    }
    .pets{
        display: none;
    }
}

@media (max-width: 1038px){
    .container{
        max-width:  900px;
    }
    .menu{
        display: flex;
        justify-content: center;
    }
    .menu__list-item{
        margin-right: 25px;
    }
}

@media (max-width: 946px){
    .donation__content{
        flex-wrap: wrap;
    }
    .donation__content-img{
        img{
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 612px){
    .donation__content-img{
        img{
            width: 400px;
        }
    }
}

@media (max-width: 496px){
    .donation__content-img{
        img{
            width: 300px;
            margin: 0;
            margin-bottom: 30px;
            margin-left: 50px;
        }
    }
    .donation__content-card{
        text-align: center;
    }
    .donation__content-card-number{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 938px){
    .container{
        max-width: 870px;
    }
    .header {
        background: url('../img/header-back_mobile.jpg') no-repeat center top/cover;
        min-height: 600px;
    }
    
    .menu-list{
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #281f13;
        .menu__list-item{
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0;
        }
        a{
            padding: 10px 20px;
        }
    }
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .menu-btn{
        width: 30px;
        height: 20px;
        position: relative;
    }
    .menu-btn{
        span{
            width: 100%;
            height: 2px;
            background-color: #fff;
            top: 9px;
            position: absolute;
        }
    }
    .menu-btn::after,
    .menu-btn::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }
    .menu-btn::after{
        top: 0;
    }
    .menu-btn::before{
        bottom: 0;
    }

    .header__content {
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
    }
}

@media (max-width: 812px){
    .help__content{
        background-color: #f6f6f6;
        .help__content-title{
            padding-top: 30px;
        }
    }
    .help__content-directions-items{
        margin: 0;
        margin-left: 60px;
        .help__content-directions-item{
            margin: 0;
            margin-right: 75px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 732px){
    .about__info-img{
        margin-right: 75px;
        img{
            width: 250px;
            height: 350px;
        }
    }
}

@media (max-width: 642px){
    .about{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .about__info-img{
        width: 100%;
        max-width: 315px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        img{
            width: 250px;
            height: 350px;
        }
    }
}

@media (min-width: 938px){
    .menu-list{
        display: flex !important;
    }
}